# Transcript project
Briana Holston. In this project I will be showing a csv file that shows my  "transcripts" as well as a fellow classmate. As well as my overall GPA.

In [1]:
import pandas as pd
import csv

In [2]:
Filename = 'transcript.csv'

In [3]:
df = pd.read_csv(Filename) #This is where I read the transcript from excel

In [4]:
df.dtypes # Here I wanted to make sure the column grades was an int so I can use sum()

Season    object
Year      object
Course    object
Grade      int64
dtype: object

In [6]:
def overallGrade(Filename):
    data = [] # all the grades put into a list
    courses = 0 # need the number of courses to get gpa
    with open (Filename, 'r') as handle:
        filereader = csv.DictReader(handle) 
        for grades in filereader:
            grades = int(grades['Grade'])
            if grades > 0:
                data.append(grades)
                courses += 1
            else:
                pass
    overallgrades = sum(data)/len(data)

    print("Overall Grades:", overallgrades)
    print("GPA:", overallgrades /courses)
    print("Grades:" )
    return data

## Transcript, grades, overall gpa

In [7]:
df

    Season       Year    Course  Grade
0     Fall  2021-2022  engl 101     90
1     Fall  2021-2022  engr 100     99
2     Fall  2021-2022  gspe 210     88
3     Fall  2021-2022  hist 120     87
4     Fall  2021-2022  math 105     93
5     Fall  2021-2022  psyc 101     92
6   Spring  2021-2022   art 103     88
7   Spring  2021-2022   cis 104     90
8   Spring  2021-2022  data 118     98
9   Spring  2021-2022  engl 102     87
10  Spring  2021-2022  engr 300     84
11  Spring  2021-2022  math 155     80
12    Fall  2022-2023   cis 211     80
13    Fall  2022-2023   cis 240     87
14    Fall  2022-2023  econ 123     85
15    Fall  2022-2023  gsci 103     97
16    Fall  2022-2023  math 254     99
17  Spring  2022-2023   cis 301     89
18  Spring  2022-2023   cis 314     87
19  Spring  2022-2023  geog 105     83
20  Spring  2022-2023  math 108     90
21  Spring  2022-2023  soci 203     91
22    Fall  2023-2024   cis 302     88
23    Fall  2023-2024   cis 321     87
24    Fall  2023-2024   cis 332     90
25    Fall  2023-2024   cis 386     80
26    Fall  2023-2024  math 207     96

In [8]:
print(overallGrade(Filename))

Overall Grades: 89.07407407407408
GPA: 3.299039780521262
Grades:
[90, 99, 88, 87, 93, 92, 88, 90, 98, 87, 84, 80, 80, 87, 85, 97, 99, 89, 87, 83, 90, 91, 88, 87, 90, 80, 96]

## Classmates transcript (Kevin Pena)

In [16]:
classmate = 'ShepherdTranscript.csv'

In [17]:
cm = pd.read_csv('ShepherdTranscript.csv')

In [18]:
def overallGrade(classmate):
    data = [] # all the grades put into a list
    courses = 0 # need the number of courses to get gpa
    with open (classmate, 'r') as file:
        filereader = csv.DictReader(file) 
        for grades in filereader:
            grades = int(grades['Grade'])
            if grades > 0:
                data.append(grades)
                courses += 1
            else:
                pass
    overallgrades = sum(data)/len(data)

    print("Overall Grades:", overallgrades)
    print("GPA:", overallgrades /courses)
    print("Grades:" )
    return data

In [21]:
cm

    Year Semester   Course  Grade
0   2021     Fall   CIS100     90
1   2021     Fall   CIS104     92
2   2021     Fall  ENGL101     87
3   2021     Fall  GSPE210     95
4   2021     Fall  HIST101     89
5   2021     Fall  MATH101     85
6   2021   Spring   ART103     98
7   2021   Spring   CIS211     60
8   2021   Spring  DATA118     96
9   2021   Spring  ENGL102     87
10  2021   Spring  ENGR300     85
11  2021   Spring  MATH105     80
12  2022     Fall   CIS211     86
13  2022     Fall   CIS240     92
14  2022     Fall  ECON123     98
15  2022     Fall  GSCI103     98
16  2022     Fall  MATH105     82
17  2022   Spring   CIS301     78
18  2022   Spring   CIS314     85
19  2022   Spring  GEOG105     96
20  2022   Spring  MATH108     79
21  2022   Spring  PSYC101     84
22  2023     Fall   CIS287     85
23  2023     Fall   CIS321     89
24  2023     Fall   CIS332     92
25  2023     Fall   CIS386     76
26  2023     Fall  MATH207     90

In [20]:
 print(overallGrade(classmate))

Overall Grades: 87.18518518518519
GPA: 3.229080932784637
Grades:
[90, 92, 87, 95, 89, 85, 98, 60, 96, 87, 85, 80, 86, 92, 98, 98, 82, 78, 85, 96, 79, 84, 85, 89, 92, 76, 90]